# 상위 디렉터리에서 .editorconfig 설정을 상속하려면 아래 행을 제거하세요.
root = true
[*]
charset = utf-8
# Visual Basic 파일
[*.vb]

#### 코어 EditorConfig 옵션 ####

# 들여쓰기 및 간격
indent_size = 4
indent_style = space
tab_width = 4

# 새 줄 기본 설정
end_of_line = crlf
insert_final_newline = false

#### .NET 코드 작업 ####

# 멤버 입력
dotnet_hide_advanced_members = false
dotnet_member_insertion_location = with_other_members_of_the_same_kind
dotnet_property_generation_behavior = prefer_throwing_properties

# 기호 검색
dotnet_search_reference_assemblies = true

#### .NET 코딩 규칙 ####

# Using 구성
dotnet_separate_import_directive_groups = false
dotnet_sort_system_directives_first = true
file_header_template = unset

# this. 및 Me. 기본 설정
dotnet_style_qualification_for_event = false
dotnet_style_qualification_for_field = false
dotnet_style_qualification_for_method = false
dotnet_style_qualification_for_property = false

# 언어 키워드 및 BCL 형식 기본 설정
dotnet_style_predefined_type_for_locals_parameters_members = true
dotnet_style_predefined_type_for_member_access = true

# 괄호 기본 설정
dotnet_style_parentheses_in_arithmetic_binary_operators = always_for_clarity
dotnet_style_parentheses_in_other_binary_operators = always_for_clarity
dotnet_style_parentheses_in_other_operators = never_if_unnecessary
dotnet_style_parentheses_in_relational_binary_operators = always_for_clarity

# 한정자 기본 설정
dotnet_style_require_accessibility_modifiers = for_non_interface_members

# 식 수준 기본 설정
dotnet_prefer_system_hash_code = true
dotnet_style_coalesce_expression = true
dotnet_style_collection_initializer = true
dotnet_style_explicit_tuple_names = true
dotnet_style_namespace_match_folder = true
dotnet_style_null_propagation = true
dotnet_style_object_initializer = true
dotnet_style_operator_placement_when_wrapping = beginning_of_line
dotnet_style_prefer_auto_properties = true
dotnet_style_prefer_collection_expression = when_types_loosely_match
dotnet_style_prefer_compound_assignment = true
dotnet_style_prefer_conditional_expression_over_assignment = true
dotnet_style_prefer_conditional_expression_over_return = true
dotnet_style_prefer_foreach_explicit_cast_in_source = when_strongly_typed
dotnet_style_prefer_inferred_anonymous_type_member_names = true
dotnet_style_prefer_inferred_tuple_names = true
dotnet_style_prefer_is_null_check_over_reference_equality_method = true
dotnet_style_prefer_simplified_boolean_expressions = true
dotnet_style_prefer_simplified_interpolation = true

# 필드 기본 설정
dotnet_style_readonly_field = true

# 매개 변수 기본 설정
dotnet_code_quality_unused_parameters = all

# 비표시 오류(Suppression) 기본 설정
dotnet_remove_unnecessary_suppression_exclusions = none

# 새 줄 기본 설정
dotnet_style_allow_multiple_blank_lines_experimental = true
dotnet_style_allow_statement_immediately_after_block_experimental = true

#### VB 코딩 규칙 ####

# 한정자 기본 설정
visual_basic_preferred_modifier_order = partial,default,private,protected,public,friend,notoverridable,overridable,mustoverride,overloads,overrides,mustinherit,notinheritable,static,shared,shadows,readonly,writeonly,dim,const,withevents,widening,narrowing,custom,async,iterator

# 식 수준 기본 설정
visual_basic_style_prefer_isnot_expression = true
visual_basic_style_prefer_simplified_object_creation = true
visual_basic_style_unused_value_assignment_preference = unused_local_variable
visual_basic_style_unused_value_expression_statement_preference = unused_local_variable

#### 명명 스타일 ####

# 명명 규칙

dotnet_naming_rule.interface_should_be_i로_시작.severity = suggestion
dotnet_naming_rule.interface_should_be_i로_시작.symbols = interface
dotnet_naming_rule.interface_should_be_i로_시작.style = i로_시작

dotnet_naming_rule.형식_should_be_파스칼식_대_소문자.severity = suggestion
dotnet_naming_rule.형식_should_be_파스칼식_대_소문자.symbols = 형식
dotnet_naming_rule.형식_should_be_파스칼식_대_소문자.style = 파스칼식_대_소문자

dotnet_naming_rule.필드가_아닌_멤버_should_be_파스칼식_대_소문자.severity = suggestion
dotnet_naming_rule.필드가_아닌_멤버_should_be_파스칼식_대_소문자.symbols = 필드가_아닌_멤버
dotnet_naming_rule.필드가_아닌_멤버_should_be_파스칼식_대_소문자.style = 파스칼식_대_소문자

# 기호 사양

dotnet_naming_symbols.interface.applicable_kinds = interface
dotnet_naming_symbols.interface.applicable_accessibilities = public, friend, private, protected, protected_friend, private_protected
dotnet_naming_symbols.interface.required_modifiers = 

dotnet_naming_symbols.형식.applicable_kinds = class, struct, interface, enum
dotnet_naming_symbols.형식.applicable_accessibilities = public, friend, private, protected, protected_friend, private_protected
dotnet_naming_symbols.형식.required_modifiers = 

dotnet_naming_symbols.필드가_아닌_멤버.applicable_kinds = property, event, method
dotnet_naming_symbols.필드가_아닌_멤버.applicable_accessibilities = public, friend, private, protected, protected_friend, private_protected
dotnet_naming_symbols.필드가_아닌_멤버.required_modifiers = 

# 명명 스타일

dotnet_naming_style.파스칼식_대_소문자.required_prefix = 
dotnet_naming_style.파스칼식_대_소문자.required_suffix = 
dotnet_naming_style.파스칼식_대_소문자.word_separator = 
dotnet_naming_style.파스칼식_대_소문자.capitalization = pascal_case

dotnet_naming_style.i로_시작.required_prefix = I
dotnet_naming_style.i로_시작.required_suffix = 
dotnet_naming_style.i로_시작.word_separator = 
dotnet_naming_style.i로_시작.capitalization = pascal_case
